{% extends 'app/general_template.html' %}

{% block content %}
<div class="grid-container">
    <div class="header"> We are a group of students from the University of Cambridge.<br /> We work with several organizations as listed below. .....</div>
    <div class="grid-item-pic">
        <img src="cued_logo.png" class="grid-item--1" alt="cued logo">
    </div>
    <div class="grid-item">
        <h3><a href="https://www.cam.ac.uk/">University of Cambridge</a></h3>
        <p>We are working with the Department of Engineering...
        </p>
    </div>
    <div class="grid-item-pic">
        <img src="ulg_logo.png" class="grid-item--1" alt="Zero Carbon logo"></div>
    <div class="grid-item">
        <h3><a href="https://www.uselessgroup.org/">Use Less Group</a></h3>
        <p>We are working with the Use Less Group</p>
    </div>
    <div class="grid-item-pic">
        <img src="game_carbon.jpg" class="grid-item--1" alt="Gamifying Decarbonisation logo">
    </div>
    <div class="grid-item">
        <h3><a href="https://www.environment.admin.cam.ac.uk/news/gamifying-decarbonisation-are-you-challenge">Gamifying Decarbonisation</a></h3>
        <p>We are participating in ...</p>
    </div>
    <div class="grid-item-pic">
        <img src="itic_logo.png" class="grid-item--1"></div>
    <div class="grid-item">
        <h3><a href="https://cambridge.iticam.org/">Impact Through Innovation Cambridge ITIC</a></h3>
        <p>We are participating in...</p>
    </div>
</div>
{% endblock %}